@import url('https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&family=Open+Sans:wght@300&display=swap');



body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'BhuTuka Expanded One', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
*{
  font-family: 'Open Sans';
  font-size: 18px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}


/* header */
header {
  height: 100px;
}
nav {
  padding: 5% 0;
  border-bottom: 1px solid black;
  width: 100%;
  background-color: white;
  position: fixed;

}
nav ul {
  margin: 0;
  padding: 0 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
 
}
nav li {
  margin-left: 30px;
}
nav li a {
  color: black;
}

/* main */
main {
  padding: 0 7%;
}
.main-img {
  width: 100%;
  height: auto;
}
.text-container {
  text-align: left;
}
.text-container h1 {
  font-family: 'BhuTuka Expanded One';
  font-size: 2.5rem;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 0;
}
.text-container p {
  margin-top: 10px; 
}
.main-desc {
  font-size: 16px;
  color: #565555;
}

/* footer */
.footer-container {
  padding: 0 5%;
}
.footer-contact {
  display: flex;
}
.footer-contact p a{
  font-size: 16px;
}
